<h1><%= @post.title %></h1>
<span><%= @post.author.username %></span> <span><%= @post.created_at %></span>
<% unless @post.content.empty? %>
  <p><%= @post.content %></p>
<% end %>


  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <p><%= comment.content %></p>
        <span><%= comment.get_username %></span>
      </li>
    <% end %>
  </ul>


<form action="/comment" method="POST">
  <label for="comment"></label>
  <input id="comment" type="text" name="comment" placeholder="comment here">
  <input type="submit" value="submit comment">
  <input type="hidden" name="post_id" value="<%= @post.id %>">
</form>
