<h1><%= @user.username %>'s Profile</h1>

<ul>
  <li>user</li>
  <li>created</li>
  <li>email</li>
</ul>

<ul>
  <li><%= @user.username %></li>
  <li><%= @user.created_at %></li>
  <li><%= @user.email %></li>
</ul>


<a href="/user/<%= @user.id%>/posts">Posts</a>
<a href="/user/<%= @user.id%>/comments">Comments</a>
